#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title {
  top: 50px;
  font-size: 3.2em;
  line-height: 1.1;
  position: absolute;
}
.inputRename {
  font-size: 16px;
  font-weight: 600;
  min-width: 295px;
  margin: 1px;
  border-radius: 5px;
  background-color: #749dc9;
}

.totalTodo {
  position: absolute;
  top: 140px;
  left: 750px;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px;
  min-width: 520px;
}

.list-title {
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #3c3737;
  border-radius: 5px;
  min-width: 300px;
  padding-top: 5px;
}

.completed {
  text-decoration: line-through;
  background-color: #60c360;
}

.buttonsCategores {
  padding-right: 100px;
}

.items {
  max-width: 530px;
  max-height: 500px;
}
